[submodule "geo_api"]
	path = geo_api
	url = git@github.com:andrewdyates/geo_api.git
[submodule "matrix_to_adjacency"]
	path = matrix_to_adjacency
	url = git@github.com:andrewdyates/matrix_to_adjacency.git
